[Desktop Entry]
Name=EupneaOS-light
X-KDE-PluginInfo-Name=EupneaOS-light
X-KDE-PluginInfo-Author=The Eupnea Project
X-KDE-PluginInfo-Email=stopusingemail@use-github-issues.com
X-KDE-PluginInfo-License=GPL v3
